<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR DedicatedDispatch">
    <pipelines>
      <owin.cookieAuthentication.signIn>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.SignIn.CheckClientUser, Sitecore.Owin.Authentication"
                   set:type="Sitecore.Support.Owin.Authentication.Pipelines.CookieAuthentication.SignIn.CheckClientUser, Sitecore.Support.629358-2" />
      </owin.cookieAuthentication.signIn>
    </pipelines>
  </sitecore>
</configuration>