<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <reflection>
      <forbiddenMethods>
        <descriptor key="SetViewStateBool" type="Sitecore.Web.UI.HtmlControls.Component" methodName="SetViewStateBool" assemblyName="Sitecore.Kernel"/>
		<descriptor key="SetViewStateInt" type="Sitecore.Web.UI.HtmlControls.Component" methodName="SetViewStateInt" assemblyName="Sitecore.Kernel"/>
		<descriptor key="SetViewStateProperty" type="Sitecore.Web.UI.HtmlControls.Component" methodName="SetViewStateProperty" assemblyName="Sitecore.Kernel"/>
		<descriptor key="SetViewStateString" type="Sitecore.Web.UI.HtmlControls.Component" methodName="SetViewStateString" assemblyName="Sitecore.Kernel"/>
		<descriptor key="SetAttribute" type="Sitecore.Web.UI.HtmlControls.Control" methodName="SetAttribute" assemblyName="Sitecore.Kernel"/>
		<descriptor key="AddToCache" type="Sitecore.Web.UI.WebControl" methodName="AddToCache" assemblyName="Sitecore.Kernel"/>
      </forbiddenMethods>
    </reflection>
  </sitecore>
</configuration>